# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
my_cities_to_load = 'C:\\Users\\me\\Desktop\\BBC\\COPY_but-ind-data-pt-06-2020-u-c\\Unit_06_Python_APIs\\Homework\\WeatherPy\\output_data\\my_cities\\my_cities.csv'
my_cities = pd.read_csv(my_cities_to_load)
my_cities.dropna(inplace = True) 
my_cities.head()

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,commerce,34.00,-118.16,70.00,77.0,90.0,6.80,US,1.595441e+09
1,yellowknife,62.46,-114.35,66.20,82.0,75.0,8.05,CA,1.595441e+09
2,barrow,71.29,-156.79,35.60,93.0,90.0,8.05,US,1.595441e+09
3,clyde river,70.47,-68.59,46.40,87.0,90.0,4.70,CA,1.595441e+09
4,cidreira,-30.18,-50.21,72.82,65.0,100.0,4.54,BR,1.595441e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = my_cities[["Latitude", "Longitude"]]
weight = my_cities["Humidity"].astype(float)

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                  dissipating=False, max_intensity=10,
                                 point_radius=1)
fig.add_layer(heat_layer)
heat_layer.point_radius = 5
heat_layer.max_intensity = 100

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_one = my_cities.loc[(my_cities["Max Temperature"] < 80)]
ideal_temp = ideal_one.loc[(ideal_one["Max Temperature"] > 70)]
ideal_wind = my_cities.loc[(my_cities["Wind Speed"] < 10)]
ideal_clouds =  my_cities.loc[(my_cities["Cloudiness"] < 1)]

In [6]:
ideal_wind_clouds = pd.merge(ideal_wind, ideal_clouds, on=["City", "City"])

In [7]:
ideal_conditions = pd.merge(ideal_temp, ideal_wind_clouds, on=["City", "City"])
ideal_conditions

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date,Latitude_x,...,Country_x,Date_x,Latitude_y,Longitude_y,Max Temperature_y,Humidity_y,Cloudiness_y,Wind Speed_y,Country_y,Date_y
0,peniche,39.36,-9.38,73.00,91.0,0.0,5.01,PT,1.595441e+09,39.36,...,PT,1.595441e+09,39.36,-9.38,73.00,91.0,0.0,5.01,PT,1.595441e+09
1,talas,38.69,35.55,71.60,53.0,0.0,8.05,TR,1.595441e+09,38.69,...,TR,1.595441e+09,38.69,35.55,71.60,53.0,0.0,8.05,TR,1.595441e+09
2,ouro fino,-22.28,-46.37,77.22,39.0,0.0,2.08,BR,1.595441e+09,-22.28,...,BR,1.595441e+09,-22.28,-46.37,77.22,39.0,0.0,2.08,BR,1.595441e+09
3,tukrah,32.53,20.58,76.42,73.0,0.0,8.19,LY,1.595441e+09,32.53,...,LY,1.595441e+09,32.53,20.58,76.42,73.0,0.0,8.19,LY,1.595441e+09
4,bukama,-9.20,25.85,72.97,31.0,0.0,1.21,CD,1.595441e+09,-9.20,...,CD,1.595441e+09,-9.20,25.85,72.97,31.0,0.0,1.21,CD,1.595441e+09
5,abrau-dyurso,44.69,37.59,75.20,57.0,0.0,4.47,RU,1.595441e+09,44.69,...,RU,1.595441e+09,44.69,37.59,75.20,57.0,0.0,4.47,RU,1.595441e+09
6,salamiyah,35.01,37.05,78.21,48.0,0.0,8.84,SY,1.595441e+09,35.01,...,SY,1.595441e+09,35.01,37.05,78.21,48.0,0.0,8.84,SY,1.595441e+09
7,saurimo,-9.66,20.39,70.29,25.0,0.0,5.48,AO,1.595441e+09,-9.66,...,AO,1.595441e+09,-9.66,20.39,70.29,25.0,0.0,5.48,AO,1.595441e+09

In [8]:
ideal_conditions.drop(ideal_conditions.iloc[:, 8:25], inplace = True, axis = 1) 
ideal_conditions

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country
0,peniche,39.36,-9.38,73.00,91.0,0.0,5.01,PT
1,talas,38.69,35.55,71.60,53.0,0.0,8.05,TR
2,ouro fino,-22.28,-46.37,77.22,39.0,0.0,2.08,BR
3,tukrah,32.53,20.58,76.42,73.0,0.0,8.19,LY
4,bukama,-9.20,25.85,72.97,31.0,0.0,1.21,CD
5,abrau-dyurso,44.69,37.59,75.20,57.0,0.0,4.47,RU
6,salamiyah,35.01,37.05,78.21,48.0,0.0,8.84,SY
7,saurimo,-9.66,20.39,70.29,25.0,0.0,5.48,AO

In [9]:
ideal_conditions.drop(ideal_conditions.iloc[:, 4:4], inplace = True, axis = 1) 
ideal_conditions

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country
0,peniche,39.36,-9.38,73.00,91.0,0.0,5.01,PT
1,talas,38.69,35.55,71.60,53.0,0.0,8.05,TR
2,ouro fino,-22.28,-46.37,77.22,39.0,0.0,2.08,BR
3,tukrah,32.53,20.58,76.42,73.0,0.0,8.19,LY
4,bukama,-9.20,25.85,72.97,31.0,0.0,1.21,CD
5,abrau-dyurso,44.69,37.59,75.20,57.0,0.0,4.47,RU
6,salamiyah,35.01,37.05,78.21,48.0,0.0,8.84,SY
7,saurimo,-9.66,20.39,70.29,25.0,0.0,5.48,AO

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
ideal_conditions['Hotel Name'] = ""
ideal_conditions = ideal_conditions[["City","Country","Latitude","Longitude", "Hotel Name", "Max Temperature", "Cloudiness", "Wind Speed"]]
hotel_df = pd.DataFrame(ideal_conditions)
hotel_df

,City,Country,Latitude,Longitude,Hotel Name,Max Temperature,Cloudiness,Wind Speed
0,peniche,PT,39.36,-9.38,,73.00,0.0,5.01
1,talas,TR,38.69,35.55,,71.60,0.0,8.05
2,ouro fino,BR,-22.28,-46.37,,77.22,0.0,2.08
3,tukrah,LY,32.53,20.58,,76.42,0.0,8.19
4,bukama,CD,-9.20,25.85,,72.97,0.0,1.21
5,abrau-dyurso,RU,44.69,37.59,,75.20,0.0,4.47
6,salamiyah,SY,35.01,37.05,,78.21,0.0,8.84
7,saurimo,AO,-9.66,20.39,,70.29,0.0,5.48

In [11]:
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "hotel",
    "key": g_key
}


for index, row in hotel_df.iterrows():    
    lat = row["Latitude"]
    lng = row["Longitude"]   
    params["location"] = f"{lat},{lng}"    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 
    hotel_address = requests.get(base_url, params=params)
    hotel_address = hotel_address.json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_address["results"][0]["name"]

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.

In [12]:
hotel_df

,City,Country,Latitude,Longitude,Hotel Name,Max Temperature,Cloudiness,Wind Speed
0,peniche,PT,39.36,-9.38,MH Peniche,73.00,0.0,5.01
1,talas,TR,38.69,35.55,Radisson Blu Hotel Kayseri,71.60,0.0,8.05
2,ouro fino,BR,-22.28,-46.37,Hotel Caiçara,77.22,0.0,2.08
3,tukrah,LY,32.53,20.58,قاعدة فيقا فيقا,76.42,0.0,8.19
4,bukama,CD,-9.20,25.85,,72.97,0.0,1.21
5,abrau-dyurso,RU,44.69,37.59,Kryl'ya Abrau,75.20,0.0,4.47
6,salamiyah,SY,35.01,37.05,Resort Safari Souria منتجع سفاري سورية,78.21,0.0,8.84
7,saurimo,AO,-9.66,20.39,iu Hotel Saurimo Rotunda,70.29,0.0,5.48

In [13]:
hotel_df = hotel_df.drop([4])
hotel_df

,City,Country,Latitude,Longitude,Hotel Name,Max Temperature,Cloudiness,Wind Speed
0,peniche,PT,39.36,-9.38,MH Peniche,73.00,0.0,5.01
1,talas,TR,38.69,35.55,Radisson Blu Hotel Kayseri,71.60,0.0,8.05
2,ouro fino,BR,-22.28,-46.37,Hotel Caiçara,77.22,0.0,2.08
3,tukrah,LY,32.53,20.58,قاعدة فيقا فيقا,76.42,0.0,8.19
5,abrau-dyurso,RU,44.69,37.59,Kryl'ya Abrau,75.20,0.0,4.47
6,salamiyah,SY,35.01,37.05,Resort Safari Souria منتجع سفاري سورية,78.21,0.0,8.84
7,saurimo,AO,-9.66,20.39,iu Hotel Saurimo Rotunda,70.29,0.0,5.48

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
# hotel_df = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# #save to a different dataframe not hotel_df
# locations = hotel_df[["Latitude", "Longitude"]]
# locations

In [15]:
hotel_locations = hotel_df[["Latitude", "Longitude"]]

In [16]:

markers = gmaps.marker_layer(hotel_locations)

fig.add_layer(markers)


fig

Figure(layout=FigureLayout(height='420px'))