# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
my_cities_to_load = 'C:\\Users\\me\\Desktop\\BBC\\COPY_but-ind-data-pt-06-2020-u-c\\Unit_06_Python_APIs\\Homework\\WeatherPy\\output_data\\my_cities\\my_cities.csv'
my_cities = pd.read_csv(my_cities_to_load)
my_cities.dropna(inplace = True) 
my_cities.head()

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,jijiga,9.35,42.80,63.61,78.0,89.0,12.57,ET,1.595434e+09
1,albany,42.60,-73.97,82.99,62.0,56.0,3.83,US,1.595434e+09
2,puttur,12.77,75.22,82.40,83.0,40.0,0.54,IN,1.595434e+09
3,port alfred,-33.59,26.89,62.76,84.0,0.0,2.01,ZA,1.595434e+09
4,olafsvik,64.89,-23.71,49.80,71.0,60.0,7.96,IS,1.595434e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = my_cities[["Latitude", "Longitude"]]
weight = my_cities["Humidity"].astype(float)

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                  dissipating=False, max_intensity=10,
                                 point_radius=1)
fig.add_layer(heat_layer)
heat_layer.point_radius = 5
heat_layer.max_intensity = 100
plt.savefig("C:\\Users\\me\\Desktop\\BBC\\COPY_but-ind-data-pt-06-2020-u-c\\Unit_06_Python_APIs\\Homework\\VacationPy\\Images\\humidity_heatmap.png")
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_one = my_cities.loc[(my_cities["Max Temperature"] < 80)]
ideal_temp = ideal_one.loc[(ideal_one["Max Temperature"] > 70)]
ideal_wind = my_cities.loc[(my_cities["Wind Speed"] < 10)]
ideal_clouds =  my_cities.loc[(my_cities["Cloudiness"] < 1)]

In [6]:
ideal_wind_clouds = pd.merge(ideal_wind, ideal_clouds, on=["City", "City"])

In [7]:
ideal_conditions = pd.merge(ideal_temp, ideal_wind_clouds, on=["City", "City"])
ideal_conditions

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date,Latitude_x,...,Country_x,Date_x,Latitude_y,Longitude_y,Max Temperature_y,Humidity_y,Cloudiness_y,Wind Speed_y,Country_y,Date_y
0,santa isabel,-23.32,-46.22,78.80,38.0,0.0,4.70,BR,1.595434e+09,-23.32,...,BR,1.595434e+09,-23.32,-46.22,78.80,38.0,0.0,4.70,BR,1.595434e+09
1,uruzgan,32.83,66.00,71.51,20.0,0.0,3.00,AF,1.595434e+09,32.83,...,AF,1.595434e+09,32.83,66.00,71.51,20.0,0.0,3.00,AF,1.595434e+09
2,fort-shevchenko,44.51,50.26,79.74,62.0,0.0,7.31,KZ,1.595434e+09,44.51,...,KZ,1.595434e+09,44.51,50.26,79.74,62.0,0.0,7.31,KZ,1.595434e+09
3,shache,38.42,77.24,76.10,18.0,0.0,3.04,CN,1.595434e+09,38.42,...,CN,1.595434e+09,38.42,77.24,76.10,18.0,0.0,3.04,CN,1.595434e+09
4,lobito,-12.35,13.55,75.22,67.0,0.0,6.13,AO,1.595434e+09,-12.35,...,AO,1.595434e+09,-12.35,13.55,75.22,67.0,0.0,6.13,AO,1.595434e+09
5,palpa,-14.53,-75.19,74.07,39.0,0.0,5.39,PE,1.595435e+09,-14.53,...,PE,1.595435e+09,-14.53,-75.19,74.07,39.0,0.0,5.39,PE,1.595435e+09
6,peruibe,-24.32,-47.00,79.83,51.0,0.0,4.52,BR,1.595435e+09,-24.32,...,BR,1.595435e+09,-24.32,-47.00,79.83,51.0,0.0,4.52,BR,1.595435e+09

In [8]:
ideal_conditions.drop(ideal_conditions.iloc[:, 8:25], inplace = True, axis = 1) 
ideal_conditions

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country
0,santa isabel,-23.32,-46.22,78.80,38.0,0.0,4.70,BR
1,uruzgan,32.83,66.00,71.51,20.0,0.0,3.00,AF
2,fort-shevchenko,44.51,50.26,79.74,62.0,0.0,7.31,KZ
3,shache,38.42,77.24,76.10,18.0,0.0,3.04,CN
4,lobito,-12.35,13.55,75.22,67.0,0.0,6.13,AO
5,palpa,-14.53,-75.19,74.07,39.0,0.0,5.39,PE
6,peruibe,-24.32,-47.00,79.83,51.0,0.0,4.52,BR

In [9]:
ideal_conditions.drop(ideal_conditions.iloc[:, 4:4], inplace = True, axis = 1) 
ideal_conditions

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country
0,santa isabel,-23.32,-46.22,78.80,38.0,0.0,4.70,BR
1,uruzgan,32.83,66.00,71.51,20.0,0.0,3.00,AF
2,fort-shevchenko,44.51,50.26,79.74,62.0,0.0,7.31,KZ
3,shache,38.42,77.24,76.10,18.0,0.0,3.04,CN
4,lobito,-12.35,13.55,75.22,67.0,0.0,6.13,AO
5,palpa,-14.53,-75.19,74.07,39.0,0.0,5.39,PE
6,peruibe,-24.32,-47.00,79.83,51.0,0.0,4.52,BR

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
ideal_conditions['Hotel Name'] = ""
ideal_conditions = ideal_conditions[["City","Country","Latitude","Longitude", "Hotel Name", "Max Temperature", "Cloudiness", "Wind Speed"]]
hotel_df = pd.DataFrame(ideal_conditions)
hotel_df

,City,Country,Latitude,Longitude,Hotel Name,Max Temperature,Cloudiness,Wind Speed
0,santa isabel,BR,-23.32,-46.22,,78.80,0.0,4.70
1,uruzgan,AF,32.83,66.00,,71.51,0.0,3.00
2,fort-shevchenko,KZ,44.51,50.26,,79.74,0.0,7.31
3,shache,CN,38.42,77.24,,76.10,0.0,3.04
4,lobito,AO,-12.35,13.55,,75.22,0.0,6.13
5,palpa,PE,-14.53,-75.19,,74.07,0.0,5.39
6,peruibe,BR,-24.32,-47.00,,79.83,0.0,4.52

In [11]:
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "hotel",
    "key": g_key
}


for index, row in hotel_df.iterrows():    
    lat = row["Latitude"]
    lng = row["Longitude"]   
    params["location"] = f"{lat},{lng}"    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 
    hotel_address = requests.get(base_url, params=params)
    hotel_address = hotel_address.json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_address["results"][0]["name"]

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.

In [12]:
hotel_df

,City,Country,Latitude,Longitude,Hotel Name,Max Temperature,Cloudiness,Wind Speed
0,santa isabel,BR,-23.32,-46.22,Estância Solazer,78.80,0.0,4.70
1,uruzgan,AF,32.83,66.00,,71.51,0.0,3.00
2,fort-shevchenko,KZ,44.51,50.26,Dostyk Hotel,79.74,0.0,7.31
3,shache,CN,38.42,77.24,Zheshang Hotel,76.10,0.0,3.04
4,lobito,AO,-12.35,13.55,Casa Rosa Hotel Residence,75.22,0.0,6.13
5,palpa,PE,-14.53,-75.19,Palpa Lines,74.07,0.0,5.39
6,peruibe,BR,-24.32,-47.00,Hotel Park Verde,79.83,0.0,4.52

In [13]:
hotel_df = hotel_df.drop([1])
hotel_df

,City,Country,Latitude,Longitude,Hotel Name,Max Temperature,Cloudiness,Wind Speed
0,santa isabel,BR,-23.32,-46.22,Estância Solazer,78.80,0.0,4.70
2,fort-shevchenko,KZ,44.51,50.26,Dostyk Hotel,79.74,0.0,7.31
3,shache,CN,38.42,77.24,Zheshang Hotel,76.10,0.0,3.04
4,lobito,AO,-12.35,13.55,Casa Rosa Hotel Residence,75.22,0.0,6.13
5,palpa,PE,-14.53,-75.19,Palpa Lines,74.07,0.0,5.39
6,peruibe,BR,-24.32,-47.00,Hotel Park Verde,79.83,0.0,4.52

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
# hotel_df = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# #save to a different dataframe not hotel_df
# locations = hotel_df[["Latitude", "Longitude"]]
# locations

In [ ]:
hotel_locations = hotel_df[["Latitude", "Longitude"]]

In [ ]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(hotel_locations)
# Add the layer to the map
fig.add_layer(markers)
plt.savefig("C:\\Users\\me\\Desktop\\BBC\\COPY_but-ind-data-pt-06-2020-u-c\\Unit_06_Python_APIs\\Homework\\VacationPy\\Images\\humidity_heatmap_with_markers.png")
# Display figure
fig