# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
my_cities_to_load = 'C:\\Users\\me\\Desktop\\BBC\\COPY_but-ind-data-pt-06-2020-u-c\\Unit_06_Python_APIs\\Homework\\WeatherPy\\output_data\\my_cities\\my_cities.csv'
my_cities = pd.read_csv(my_cities_to_load)
my_cities.dropna(inplace = True) 
my_cities.head()

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,kruisfontein,-34.00,24.73,77.74,18.0,0.0,14.70,ZA,1.595331e+09
1,tshikapa,-6.42,20.80,97.52,13.0,0.0,3.69,CD,1.595331e+09
2,airai,-8.93,125.41,56.77,100.0,27.0,3.42,TL,1.595331e+09
3,souillac,-20.52,57.52,73.40,49.0,75.0,13.87,MU,1.595331e+09
4,bengkulu,-3.80,102.27,81.93,80.0,100.0,6.38,ID,1.595330e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = my_cities[["Latitude", "Longitude"]]
weight = my_cities["Humidity"].astype(float)

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                  dissipating=False, max_intensity=10,
                                 point_radius=1)
fig.add_layer(heat_layer)
heat_layer.point_radius = 5
heat_layer.max_intensity = 100

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_one = my_cities.loc[(my_cities["Max Temperature"] < 80)]
ideal_temp = ideal_one.loc[(ideal_one["Max Temperature"] > 70)]
ideal_wind = my_cities.loc[(my_cities["Wind Speed"] < 10)]
ideal_clouds =  my_cities.loc[(my_cities["Cloudiness"] < 1)]

In [6]:
ideal_wind_clouds = pd.merge(ideal_wind, ideal_clouds, on=["City", "City"])

In [7]:
ideal_conditions = pd.merge(ideal_temp, ideal_wind_clouds, on=["City", "City"])
ideal_conditions.drop(ideal_conditions.iloc[:, 8:25], inplace = True, axis = 1) 
ideal_conditions

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country
0,manyana,-23.40,21.72,70.29,22.0,0.0,8.88,BW
1,camacupa,-12.02,17.48,79.43,22.0,0.0,4.21,AO
2,hermanus,-34.42,19.23,75.00,34.0,0.0,3.00,ZA
3,plettenberg bay,-34.05,23.37,78.26,22.0,0.0,4.94,ZA
4,xai-xai,-25.05,33.64,75.24,47.0,0.0,5.01,MZ
5,koslan,63.46,48.90,75.04,40.0,0.0,9.78,RU
6,ekuvukeni,-28.47,30.16,74.14,16.0,0.0,2.17,ZA
7,bredasdorp,-34.53,20.04,73.40,38.0,0.0,5.82,ZA
8,inta,66.03,60.17,75.07,43.0,0.0,4.21,RU
9,arraial do cabo,-22.97,-42.03,71.60,83.0,0.0,8.05,BR
10,salinopolis,-0.61,-47.36,79.20,81.0,0.0,7.14,BR
11,san patricio,19.22,-104.70,75.76,87.0,0.0,4.43,MX
12,saldanha,-33.01,17.94,71.60,43.0,0.0,4.70,ZA
13,tomatlan,19.93,-105.25,71.98,93.0,0.0,2.01,MX
14,smidovich,48.60,133.82,70.09,88.0,0.0,7.20,RU
15,leshukonskoye,64.90,45.76,77.74,38.0,0.0,7.34,RU
16,kasama,-10.21,31.18,78.58,30.0,0.0,5.50,ZM
17,caconda,-13.73,15.07,75.56,21.0,0.0,5.57,AO
18,morondava,-20.28,44.28,73.71,64.0,0.0,7.00,MG
19,mezen,65.85,44.24,78.33,35.0,0.0,8.03,RU

In [8]:
ideal_conditions.drop(ideal_conditions.iloc[:, 4:4], inplace = True, axis = 1) 

ideal_conditions = ideal_conditions.drop([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])
ideal_conditions

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country
0,manyana,-23.40,21.72,70.29,22.0,0.0,8.88,BW
1,camacupa,-12.02,17.48,79.43,22.0,0.0,4.21,AO
2,hermanus,-34.42,19.23,75.00,34.0,0.0,3.00,ZA
3,plettenberg bay,-34.05,23.37,78.26,22.0,0.0,4.94,ZA
4,xai-xai,-25.05,33.64,75.24,47.0,0.0,5.01,MZ
5,koslan,63.46,48.90,75.04,40.0,0.0,9.78,RU
6,ekuvukeni,-28.47,30.16,74.14,16.0,0.0,2.17,ZA
7,bredasdorp,-34.53,20.04,73.40,38.0,0.0,5.82,ZA
8,inta,66.03,60.17,75.07,43.0,0.0,4.21,RU
9,arraial do cabo,-22.97,-42.03,71.60,83.0,0.0,8.05,BR

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
ideal_conditions['Hotel Name'] = ""
ideal_conditions = ideal_conditions[["City","Country","Latitude","Longitude", "Hotel Name", "Max Temperature", "Cloudiness", "Wind Speed"]]
hotel_df = pd.DataFrame(ideal_conditions)
hotel_df

,City,Country,Latitude,Longitude,Hotel Name,Max Temperature,Cloudiness,Wind Speed
0,manyana,BW,-23.40,21.72,,70.29,0.0,8.88
1,camacupa,AO,-12.02,17.48,,79.43,0.0,4.21
2,hermanus,ZA,-34.42,19.23,,75.00,0.0,3.00
3,plettenberg bay,ZA,-34.05,23.37,,78.26,0.0,4.94
4,xai-xai,MZ,-25.05,33.64,,75.24,0.0,5.01
5,koslan,RU,63.46,48.90,,75.04,0.0,9.78
6,ekuvukeni,ZA,-28.47,30.16,,74.14,0.0,2.17
7,bredasdorp,ZA,-34.53,20.04,,73.40,0.0,5.82
8,inta,RU,66.03,60.17,,75.07,0.0,4.21
9,arraial do cabo,BR,-22.97,-42.03,,71.60,0.0,8.05

In [10]:
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "hotel",
    "key": g_key
}


for index, row in hotel_df.iterrows():    
    lat = row["Latitude"]
    lng = row["Longitude"]   
    params["location"] = f"{lat},{lng}"    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 
    hotel_address = requests.get(base_url, params=params)
    hotel_address = hotel_address.json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_address["results"][0]["name"]

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

In [11]:
hotel_df

,City,Country,Latitude,Longitude,Hotel Name,Max Temperature,Cloudiness,Wind Speed
0,manyana,BW,-23.40,21.72,,70.29,0.0,8.88
1,camacupa,AO,-12.02,17.48,,79.43,0.0,4.21
2,hermanus,ZA,-34.42,19.23,Birkenhead House,75.00,0.0,3.00
3,plettenberg bay,ZA,-34.05,23.37,Sky Villa Boutique Hotel,78.26,0.0,4.94
4,xai-xai,MZ,-25.05,33.64,,75.24,0.0,5.01
5,koslan,RU,63.46,48.90,,75.04,0.0,9.78
6,ekuvukeni,ZA,-28.47,30.16,,74.14,0.0,2.17
7,bredasdorp,ZA,-34.53,20.04,De Hoop Collection,73.40,0.0,5.82
8,inta,RU,66.03,60.17,Inta Hotel,75.07,0.0,4.21
9,arraial do cabo,BR,-22.97,-42.03,Orlanova Boutique Hotel Arraial do Cabo,71.60,0.0,8.05

In [12]:
hotel_df = hotel_df.drop([0, 1, 4, 5, 6])
hotel_df

,City,Country,Latitude,Longitude,Hotel Name,Max Temperature,Cloudiness,Wind Speed
2,hermanus,ZA,-34.42,19.23,Birkenhead House,75.00,0.0,3.00
3,plettenberg bay,ZA,-34.05,23.37,Sky Villa Boutique Hotel,78.26,0.0,4.94
7,bredasdorp,ZA,-34.53,20.04,De Hoop Collection,73.40,0.0,5.82
8,inta,RU,66.03,60.17,Inta Hotel,75.07,0.0,4.21
9,arraial do cabo,BR,-22.97,-42.03,Orlanova Boutique Hotel Arraial do Cabo,71.60,0.0,8.05

In [15]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
# hotel_df = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# #save to a different dataframe not hotel_df
# locations = hotel_df[["Latitude", "Longitude"]]
# locations

In [13]:
hotel_locations = hotel_df[["Latitude", "Longitude"]]

In [16]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(hotel_locations)
# Add the layer to the map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))